!!!
%html
  %head
    %meta{ 'http-equiv' => 'content-type', content: "text/html;charset=UTF-8" }/

  %body
    %h1
      = @data.voter_name
      reacted to
      = @data.movie.title
    %p
      Visit
      = link_to @data.link_name, @data.url
      to see what is going on!

    %p
      Your Movierama Team

