!!!
%html
  %head
    %meta{ 'http-equiv' => 'content-type', content: "text/html;charset=UTF-8" }/

  %body
    %h1
      = @voter.name
      reacted to
      = @movie.title
    %p
      Visit
      = link_to "Movierama", @url
      to see what is going on!

    %p
      Your Movierama Team

